*{
    margin: 0 ;
    padding: 0;
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #06BA8F, #4EB1E6);
    flex-direction: column;
  }
  
  h1{
    font-size: 1.2rem;
  }
  
  h2{
    font-size: 1.1rem;
  }